body {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-family: 'Chivo', sans-serif;
  background: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}